h3 {
    margin-bottom: 10px;
}

.container {
    overflow: hidden;
}

.mat-list-item-content {
    padding-right: 0px;
}

.add-icon {
    margin-left: 5px;
}

.friends-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

.pending-friends-container {
    width: 100%;
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 70% 15% 15%;
}

.friends-header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;

}

.friends-container {
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 10px;
}

.friend-name {
    padding-left: 15px;
    padding-top: 10px;
}

.action-button {
    text-align: right;
}

.add-friends-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}