<button mat-flat-button *ngIf="!user" class="dropdown-button" [disableRipple]="'true'">
  <mat-icon>{{ menuIcon }}</mat-icon>
</button>
<button mat-flat-button *ngIf="user" class="dropdown-button" [matMenuTriggerFor]="menu" [disableRipple]="'true'">
  <mat-icon>{{ menuIcon }}</mat-icon>
  <span class="uk-margin-small-left">{{ selectedItemName }}</span>
</button>
<mat-menu #menu="matMenu">
  <div mat-menu-item *ngFor="let item of items | async">
    <div mat-button class="uk-padding-remove-left">
      <span (click)="selection(item.id, item.name)">
        <mat-icon *ngIf="item.id==selectedItemID">{{ selectedIcon }}</mat-icon>
        <mat-icon *ngIf="item.id!=selectedItemID">{{ unselectedIcon }}</mat-icon>
        <span>{{ item.name }}</span>
      </span>
      <button mat-button mat-icon-button class="uk-margin-small-left">
        <mat-icon class="uk-margin-remove-right" (click)="deleteItem(item.id)">close</mat-icon>
      </button>
    </div>
  </div>
  <button mat-menu-item (click)="openNewItemSheet()">
    <mat-icon>{{ newItemIcon }}</mat-icon>
    <span>{{ newItemLabel }}</span>
  </button>
</mat-menu>