<mat-form-field class="input-container">
  <mat-select placeholder="Friend" (selectionChange)="selectionChange($event)">
    <mat-option *ngFor="let friend of this.data.friends | async" [value]="friend">
      {{friend.displayName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="chips-container">
  <mat-chip-list #chipList>
    <span class="sharing-with-label">Sharing with:</span>
    <mat-chip color="accent" selected *ngFor="let friend of selectedFriends; index as i" (removed)="remove(i)">
      {{friend.displayName}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>