<mat-nav-list>
  <mat-list-item (click)="renameList()">
    <mat-icon mat-list-icon>create</mat-icon>
    <h4 mat-line>Rename</h4>
    <p mat-line>Change the name of the list.</p>
  </mat-list-item>

  <mat-list-item (click)="shareList()">
    <mat-icon mat-list-icon>share</mat-icon>
    <h4 mat-line>Share</h4>
    <p mat-line>Share this list with your friends.</p>
  </mat-list-item>

  <mat-list-item (click)="deleteList()">
    <mat-icon mat-list-icon>delete</mat-icon>
    <h4 mat-line>Delete</h4>
    <p mat-line>Delete this list and the associated items.</p>
  </mat-list-item>
</mat-nav-list>